#editSceneObjectForm {
	width: 200px;
}

#editCollisionActionsObjectMenu, #editKeyActionsKeyMenu {
    width: 70px;
    background-color: #777;
    color: #fff;
    float: left;
}

#editCollisionActionsObjectContent, #editKeyActionsKeyContent {
    float: left;
}