/* reset default browser values */	
@import url(reset.css);

/* UI Objects (route nodes, dialogues) */
@import url(ui_objects.css);

/* Forms (Edit Action form)*/
@import url(forms.css);

/* Common small objects (buttons etc) */
@import url(common.css);

#dialogue-overlay {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
    margin: -8px;
    display: none;
}



#dialogue-window {
	padding: 5px;
}

.tabContainer {
    height: 30px;
    padding: 5px 5px 0px 5px;
}

.tabContainer .tab {
    float:left;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    padding: 0 5px 0 5px;
    background-color: #777;
    border-radius: 5px 5px 0 0;
    margin-right: 2px;
    border: 1px solid black;
}

.tabContainer .tab:hover {
	background-color: #888;
}

.tabContainer .tab.active {
    background-color: #999;
}

#canvas-container {
    margin: 2px;
    left: 120px;
}

canvas {
	position: absolute;
	border: 2px solid;
    border-radius: 10px;
}

#ui-canvas {
	pointer-events:none;
}

#main-container {
	float:left;
}

#scene-tabs {
	margin-left:5px;
}

#scene-tabs .tab {
	width: 25px;
	text-align: center;
}

#main-menu {
    position: absolute;
    left: 1174px;
}

#add-player-object-movement-parameters {
	margin-top: 10px;
}

#global-object-list-container {
	height: 780px;
	width: 120px;
	float:left;
	overflow: auto;
}

.addCollisionObjectElement, .addKeyObjectElement {
	margin: 5px;
	background-color: #888;
	padding: 5px;
	border-radius: 5px;
	height: 85px;
}

.counterMenuElement, .keyMenuElement {
	
}

#edit-collision-actions-object-content, #edit-key-actions-key-content{
	width: 580px;
}

#edit-global-object-window-content #select-actions-header{
	line-height: 20px;
	text-shadow: 1px 1px 1px #4DB8FF;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	border: 1px solid #63b8ee;
	background: #E0F3F9;
	border-radius: 5px;
}

#edit-collision-actions-object-menu-container, #edit-key-actions-object-menu-container {
	float: left;
	height: 500px;
	width: 120px;
	overflow-y: auto;
	overflow-x: hidden;
}

#select-actions-content .group {
	margin-bottom: 15px;
}

#edit-counter-event-content, #edit-counters-counter-content, #edit-counter-event-action-content, #edit-counter-event-actions-content {
	margin-left: 5px;
	float: left;
}

#edit-counter-event-actions-content #select-action-window {
	width: 485px;
}

