/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

/*
 * Borders and padding are drawn inside the set width
 * of your content. The margin is drawn outside.
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1px 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

canvas {
    position: absolute;
    border: 2px solid;
    border-radius: 10px;
}

#canvas {
    overflow: hidden;
    background-image: url('../img/canvas_grid.gif');
    background-repeat: repeat;
    background-position: top center;
    height: 100%;
}

#container {
    bottom: 0;
    left: 0;
    min-height: 850px;
    position: absolute;
    padding: 80px 0 0 0;
    right: 0;
    top: 0;
}

/* =================
   Top UI
   ================= */

#top-ui {
    background-color: #323232;
    height: 80px;
    margin-top: -80px;
}

/* =================
   Left UI
   ================= */

#left-ui {
    background-color: #323232;
    float: left;
    height: 100%;
    width: 50px;
}

/* ===============
   Right UI
   =============== */

#right-ui {
    overflow: hidden;
    background-color: #323232;
    float: right;
    height: 100%;
    width: 330px;
    padding: 0 2px 0 2px;
}

#right-ui .ui-title {
    background-color: #2574a9;
    height: 30px;
    margin: 0 0 2px 0;
    width: 326px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 7px 0 0 9px;
}

/* ---------------
   Properties
   --------------- */

#properties-ui {
    height: 375px;
}

/* ---------------
   Library
   --------------- */

#library-ui {
    height: 100%;
}

/* Library preview */

#library-preview {
    background: url('../img/library_preview_grid.gif');
    height: 110px;
    margin: 0 0 2px 0;
}

/* Library explorer */

#library-explorer {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f5f5f5;
    height: 220px;
    margin: 0 0 2px 0;
}

.library-global-object-button {
    width: 100%;
    border: 0;
    background: url('../img/library_explorer_icon_object.gif') no-repeat;
    font-size: 12px;
    font-family: verdana;
    margin: 0 0 2px 5px;
    padding: 0 0 0 22px;
    height: 16px;
    text-align: left;
}

/* Library menu */

#library-menu {
    height: 34px;
}

.library-menu-button {
    border: 0;
    background-color: #505050;
    display: block;
    width: 86px;
    height: 34px;
    float: left;
    text-align: center;
    margin: 0 2px 0 0;
    padding: 8px 0;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #808080;
}

.library-menu-button.active {
    background-color: #27ae60;
    color: #ffffff;
}

.library-menu-button.active:hover {
    background-color: #2dcc6f;
}

/* ===============
   Dialog window
   =============== */
#dialogue-overlay {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: 0.7;
    display: none;
}

#dialogue-window {
    position: absolute;
    display: none;
    top: 110px;
    background-color: #dcdddd;
    z-index: 2;
}
   
#dialogue-window-title {
    width: 100%;
    height: 30px;
    background-color: #1e1e1e;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}